<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Start Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>
    <div class="container">
        <h1>Choice Management System</h1>
        <hr>
        <a href="/api/developer" class="btn btn-primary btn-lg mb-1">Developer Management System</a>
        <a href="/api/moderator" class="btn btn-success btn-lg mb-1">Moderator Management System</a>
        <a href="/api/user" class="btn btn-info btn-lg mb-1">User Management System</a>
    </div>
</body>
</html>