<!DOCTYPE>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<div class="container my-1">
    <h1>Users List</h1>
    <a th:href="@{/api/user/showNewUserForm}" class="btn btn-primary mb-1"> Add User </a>
    <a th:href="@{/}" class="btn btn-success mb-1"> Back to main page </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.id}"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/api/user/showFormForUpdate/{id} (id=${user.id})}" type="submit" class="btn btn-primary">Update</a>
                <form action="#" th:action="@{/api/user/{id} (id=${user.id})}" th:method="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>